{block subMenu}
    <div id="localmenu">
        <ul>
            <li><a href="#oakci" title="O akci">O&nbsp;akci</a></li>
            <li><a href="#informace" title="Informace">Informace</a></li>
            <li><a href="#sporty" title="Sporty">Sporty</a></li>
            <li><a href="#program" title="Doprovodný program">Program</a></li>
            <li><a href="#partneri" title="Partneři">Partneři</a></li>
            <li><a href="#kontakt" title="Kontakt">Kontakt</a></li>
        </ul>
    </div>
{/block}
{block content}
    <div>
        <h2 id="oakci">O&nbsp;akci</h2>
        <p>Již 12.&nbsp;ročník sportovně-společenské akce pro Vás pořádá Studentská unie ČVUT.</p>
        <p>Přijďte s námi oslavit sportem a&nbsp;zábavou konec semestru a&nbsp;odpočinout si před obdobím plným stresu a&nbsp;zkoušek.</p>
        <p>Jako každý rok, i&nbsp;letos se můžete těšit na bezedné zásoby piva, limonády a&nbsp;samozřejmě spoustu masa na grilu.</p>
        <p>Připravujeme pro Vás také velkolepý odpolední program plný soutěží, zábavy a&nbsp;hudby.</p>
        <p>Takže <strong>neváhejte a&nbsp;přijďte!</strong></p>
        <p class="vpravo mono"><a href="#top" title="Nahoru">nahoru</a></p>
    </div>
    <div>
        <h2 id="informace">Informace</h2>
        <p>Kde:&nbsp;&nbsp;<strong>Sportovní areál ČVUT Kotlářka</strong></p>
        <p>Kdy:&nbsp;&nbsp;<strong>16.5.2015</strong></p>
        <p class="odsazeno26">&nbsp;8:00&nbsp;&nbsp;Prezentace sportovních týmů</p>
        <p class="odsazeno26">&nbsp;9:00&nbsp;&nbsp;Začátek sportovního zápolení</p>
        <p class="odsazeno29">14:00&nbsp;&nbsp;Odpolední program</p>
        <p>Startovné pro sportovce:	50,- Kč za osobu.</p>
        <p>Jak se k nám dostanete:</p>
        <p class="nastred"><a href="http://mapy.cz/s/gFgo" target="_blank"><img src="{$basePath}/images/mapa.jpg" class="mapa" alt="Mapa Dejvice" title="Mapa Dejvice" /></a></p>
        <p class="vpravo mono"><a href="#top" title="Nahoru">nahoru</a></p>
    </div>
	<div>
	 <h2 id="sporty">Sporty</h2>
        <p>MayDej 2015 přináší zápolení v&nbsp;těchto sportech:</p>
        <p><span class="upper">Volejbal</span> &ndash; smíšená šestičlenná družstva, pravidla <a href="{$basePath}/files/Maydej_sporty-pravidla.pdf" target="_blank">zde</a>.</p>
        <p><span class="upper">Nohejbal</span> &ndash; dvoučlenné týmy, pravidla <a href="{$basePath}/files/Maydej_sporty-pravidla.pdf" target="_blank">zde</a>.</p>
        <p><span class="upper">Fotbal</span> &ndash; na hřišti 4+1, druhá čtyřka na střídání, pravidla <a href="{$basePath}/files/Maydej_sporty-pravidla.pdf" target="_blank">zde</a>.</p>
        <br/>
        <p>Přihlašování do 10.5.2015.</p>
        <br/>
        <p>Neváhejte a&nbsp;<a href="{link :Sign:up}" title="Registrace týmů">zaregistrujte</a> svůj tým už teď!</p>
        <p class="nastred"><a href="{link :Homepage:teams}"> &raquo; seznam týmů &laquo;</a></p>
        <p class="vpravo mono"><a href="#top" title="Nahoru">nahoru</a></p>
    </div>
    <div>
        <h2 id="program">Doprovodný program</h2>
        <p>Podrobný doprovodný program doplníme v&nbsp;nejbližší době!</p>
        <p>Zatím Vám můžeme slíbit:</p>
        <p class="odsazeno20 upper">Beer pong</p>
        <p class="odsazeno20 upper">Autodráha</p>
        <p class="odsazeno20 upper">Zábavné soutěže o&nbsp;ceny</p>
        <p class="odsazeno20 upper">Hudba</p>
        <p class="vpravo mono"><a href="#top" title="Nahoru">nahoru</a></p>
    </div>