{form form}
    <table>
        <tr class="errors" n:if="$form->hasErrors()" n:foreach="$form->errors as $error">
            <td>{_$error}</td>
        </tr>
        <tr>
            <td>{label sport /}</td>
            <td>{input sport}</td>
        </tr>
        <tr>
            <td>{label name /}</td>
            <td>{input name}</td>
        </tr>
        <tr>
            <td>{label leader /}</td>
            <td>{input leader}</td>
        </tr>
        <tr>
            <td>{label email /}</td>
            <td>{input email}</td>
        </tr>
        {ifset $form['password']}
            <tr>
                <td>{label password /}</td>
                <td>{input password}</td>
            </tr>
            <tr>
                <td>{label password2 /}</td>
                <td>{input password2}</td>
            </tr>
        {/ifset}
        <tr>
            <td>{label referee /}</td>
            <td>{input referee}</td>
        </tr>
        <tr>
            <td>{label note /}</td>
            <td>{input note}</td>
        </tr>
        <tr>
            <td align="center" colspan="2">{input submit}</td>
        </tr>
    </table>
{/form}
<p>Odesláním registračního formuláře souhlasíte s&nbsp;evidencí emailové adresy a&nbsp;případným zasíláním informací o&nbsp;akci MayDej.</p>
