﻿@charset "utf-8";
html {background-color: white; background-image: url(../images/maydej_2015_logo.png), url(../images/maydej_2015_datum.png); background-position: left center, right center; background-attachment: fixed; background-repeat: no-repeat; font-size: 19px; margin: auto; padding: 0; width: 100%;}
body {background-image: url(../images/bila.png); color: Black; font-family: Geneva, Tahoma, sans-serif; font-size: 1em; margin: auto; min-width: 240px; padding: 0; width: 720px;}
table {margin: 0 auto 0 auto; padding: 0;}
tr {vertical-align: top;}
div {margin: 0; padding: 0.6em;}
h1 {font-size: 1.2em; text-align: center;}
h2 {color: black; font-size: 1.1em; margin: 0; padding: 0 0 0.5em 0; text-align: left; text-transform: uppercase;}
a {color: #ff6600; font-weight: bold; text-decoration: none;}
a:hover {border-bottom: 3px double black; text-decoration: none;}
p {line-height: 1.25em; margin: 0; padding: 0 0 0.5em 0;}
img.mapa {max-width: 95%; width: 95%;}
form {margin: 0 auto 0 auto; padding: 0.75em;}
form table {background-color: white;}
form table tr {vertical-align: middle;}
form table tr td {font-size: 0.9em; margin: 0.25em; padding: 0.25em 0.5em;}
select {font-size: 0.8em;}
label {font-size: 1em;}
input {font-size: 0.9em;}
input.button {padding: 0.25em 0.5em;}
#logo {margin: 0; padding: 0; text-align: center; vertical-align: middle; width: 100%;}
	#logo img {margin: 0; padding: 0; width: 100%;}
#kluby, #partner {margin: 0; max-width: 100%; padding: 0; text-align: center; vertical-align: middle; width: 100%;}
	#kluby img {border: none; margin: 0; padding: 0; height: 130px;}
	#partner img {border: none; margin: 0; padding: 0; height: 90px;}
#localmenu {background-color: #ff6600; border: none; margin: 0; text-align: center; padding: 0;}
    #localmenu ul {list-style: none; margin: 0; padding: 0; width: 100%;}
    #localmenu ul li {border: 1px solid #ff6600; display: inline-block; list-style: none; margin: 0; padding: 0;}
    #localmenu ul li a {color: black; display: inline-block; font-size: 0.9em; font-weight: bold; margin: 0; padding: 0.5em; text-transform: uppercase;}
    #localmenu ul li a:hover {background-color: white; border:none; color: black; text-decoration: none;}
#menu {background-color: black; border: none; margin: 0; text-align: center; padding: 0; width: 100%;}
    #menu ul {list-style: none; margin: 0; padding: 0; width: 100%;}
    #menu ul li {border: 1px solid black; display: inline-block; list-style: none; margin: 0; padding: 0;}
    #menu ul li a {color: #ff6600; display: inline-block; font-size: 1.2em; font-weight: bold; margin: 0; padding-bottom: 1em; padding-top: 1em; text-transform: uppercase; width: 354px;}
    #menu ul li a:hover {background-color: #ff6600; border:none; color: white; text-decoration: none;}
#editace {display: none; margin-top: -0.6em; padding: 0; vertical-align: middle;}
#paticka {font-size: 0.8em; padding-bottom: 0.8em; text-align: center;}
.vpravo {text-align: right;}
.nastred {text-align: center;}
.mono {font-family: monospace; font-size: 0.8em;}
.tisk {display: none;}
.nb {white-space: nowrap;}
.upper {text-transform: uppercase;}
.odsazeno26 {margin-left: 2.6em; text-indent: 0.7em;}
.odsazeno20 {margin-left: 2.0em;}
.odsazeno29 {margin-left: 2.9em;}
.tymy {border-bottom: 1px dashed #ff6600;}
.tymy:hover {background-color: #ffee9e;}

/* přizpůsobuje se šířce okna */
@media screen and (max-width: 760px) {
	body {width: 95%;}
    #menu ul li {width: 49%;}
    #menu ul li a {width: 100%;}
	#kluby img {height: 100px;}
	#partner img {height: 85px;}
}

@media screen and (max-width: 640px) {
	html {background-image: url(../images/maydej_2015_ld.png); background-position: center center; background-attachment: fixed; background-repeat: no-repeat; background-size: contain;}
	body {font-size: 0.9em; width: 95%;}
    #menu ul li {width: 48%;}
    #menu ul li a {width: 100%;}
	#kluby img {height: 80px;}
	#partner img {height: 70px;}
}

@media screen and (max-width: 480px) {
	html {background-image: url(../images/maydej_2015_dl.png); background-position: center center; background-attachment: fixed; background-repeat: no-repeat;}
	body {font-size: 0.9em; width: 95%;}
    form table td {display: block;}
    #menu ul li {width: 48%;}
    #menu ul li a {font-size: 1em; width: 100%;}
	#kluby img {height: 60px;}
	#partner img {height: 50px;}
}

/* tiskové styly */
@media print {
    @page {margin: 1.5cm;}
    html {background-color: white; margin: 0px; padding: 0px; width: 100%;}
    body {border: none;	color: Black; font-family: 'Segoe UI', 'Book Antiqua', 'Open Sans', Times, serif; font-size: 12pt; width: 100%;}
    a {color: #484848; text-decoration: underline;}
    h1 {text-align: center;}
    div {margin: 0px; padding: 0px;}
    p {margin: 0; padding: 0 0 0.25em 0;}
    #localmenu {display: none;}
    #menu {display: none;}
    .vpravo {text-align: right;}
    .nastred {text-align: center;}
    .tisk {display: block;}
}